* {
	margin: 10px;
	font-family: 'Montserrat', sans-serif;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.TFtableCol{
	width:100%; 
	border-collapse:collapse; 
}
.TFtableCol th{ 
	text-align: center
	padding:7px; border:#4e95f4 1px solid;
}

.TFtableCol td{ 
	padding:7px; border:#4e95f4 1px solid;
	word-wrap: keep-all;         /* All browsers since IE 5.5+ */
    text-overflow:clip;
}
/* improve visual readability for IE8 and below */
.TFtableCol tr{
	background: #b8d1f3;
}
/*  Define the background color for all the ODD table columns  */
.TFtableCol tr td:nth-child(odd){ 
	background: #b8d1f3;
}
/*  Define the background color for all the EVEN table columns  */
.TFtableCol tr td:nth-child(even){
	background: #dae5f4;
}


